<div class="col-md-12 mt-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        Pay Accounts
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nickname</th>
              <th>Account Type</th>
              <th>Account Number</th>
              <th>
                <button type="button" class="btn btn-success">+</button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <%= form_for @pay_account, :remote => true do |f| %>
                <td><%= f.text_field :nickname %></td>
                <td>
                  <%= f.label "Bank Account" do %>
                    <%= f.radio_button :account_type, 1 %>
                    Bank Account
                  <% end %>
                  </br>
                  <%= f.label "Debit Card" do %>
                    <%= f.radio_button :account_type, 2 %>
                    Debit Card
                  <% end %>
                </td>
                <td><%= f.text_field :account_number %></td>
                <td><%= f.submit "Create", class: "btn btn-success" %></td>
                <% if flash[:error].present? %>
                  <p id="error"><%= flash[:error] %></p>
                <% end %>
              <% end %>
            </tr>
            <% @pay_accounts&.each do |pay_account| %>
              <tr>
                <td><%= pay_account.nickname %></td>
                <td><%= pay_account.account_type.humanize %></td>
                <td>
                  <%= pay_account.account_number %>
                  <button type="button" class="btn btn-sm btn-default">hide</button>
                </td>
                <td>
                  <button type="button" class="btn btn-warning">Show</button>
                  <button type="button" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
